<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/views.css" />
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <section>
        <%- include ("./Register/form.ejs") %>
    </section>
</body>

</html>