@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*,
*::after,
*::before {
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

section {
    background-color: #EEEEEE;
    /*colors*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}

form {
    box-shadow: 0px 0px 5px 0px #222831;
    background-color: #D65A31;
    border-radius: 5px;
    /**/
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    display: flex;
    width: 310px;
}

form>.data {
    align-items: flex-end;
    display: flex;
    height: 50px;
}

form>div>h2 {
    /* colors */
    color: #fff;
    /**/
    font-weight: 500;
}

form>input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=url] {
    border-radius: 4px;
    padding: 0px 10px;
    margin-top: 15px;
    outline: none;
    width: 210px;
    border: none;
    height: 35px;
    /*colors*/

}

form>input[type=file],
label {
    border-radius: 4px;
    padding: 0px 10px;
    margin-top: 15px;
    color: #EEEEEE;
    outline: none;
    border: none;
}

form>input[type=text],
input[type=password],
input[type=email]::placeholder {
    padding: 0px 10px;
}

form>input[type=submit] {
    /* styles */
    border-radius: 5px;
    margin-top: 15px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    height: 35px;
    border: none;
    width: 100px;
    /* colors */
    background-color: #EEEEEE;
    color: #222831;
}

form>.paragraph {
    margin-bottom: 20px;
    margin-top: 20px;
    /* colors */
    color: #EEEEEE;
}

form>.paragraph>p>a {
    /*colors*/
    color: #EEEEEE;
    /**/
    text-decoration: none;
    padding: 2px 2px;
    transition: .3s;
}

form>.paragraph>p>a:hover {
    /*colors*/
    background-color: #EEEEEE;
    border-radius: 4px;
    color: #D65A31;
    border: none;
    /**/
    transition: .3s;
}