<% user.forEach(function (p) { %>
<header>
  <ul>
    <img src="<%- p.image %>" />
    <p><%- p.name %></p>
    <li><a href="/carrito"> Carrito </a></li>
    <li><a href="/logout"> Logout </a></li>
  </ul>
</header>
<% } %>
