<form method="POST" action="/login">
    <div class="data">
        <h2> Iniciar sesión </h2>
    </div>
    <input type="email" name="email" autocomplete="off" placeholder="Por favor, ingrese su correo." />
    <input type="password" name="password" autocomplete="off" placeholder="Por favor, ingrese su contraseña." />
    <input type="submit" value="Submit" autocomplete="off" />
    <div class="paragraph">
        <p> ¿No estás registrado? <a href="/register"> Registrate </a></p>
    </div>
</form>